.gallery {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  width: 89%;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(2, auto);
  }
}

.gallery img { 
  width: 100%; 
  height: 200px;
  cursor: pointer;
  object-fit: cover;
}
.gallery img:fullscreen { object-fit: contain; }

.gallery figure { margin: 0; }
.gallery figcaption { 
  padding: 5px;
  background: #3e3e3e;
  color: #fff;
}

body, html {
  padding: 0;
  margin: 0;
}