*
{
	font-family: georgia, sans-serif;
}

a
{
	display: block;
}

.header
{
	
    z-index :100;
	position : fixed ;
	top: 0;
	left: 0;
	right: 0;
	width : 100% ;
	display: flex;
	justify-content: space-around;
	align-items: center;
    background-color: grey;
}

.main
{	
    height:150px;
}

.logo
{
	width: 8%;
	height: 8%;
	text-align: top-left;
	background-color: grey;
}

.home
{
	text-decoration: none;
	width: 50px;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;
}
.home:hover{
	background-color: #e7e2e2;
}
.events
{
	text-decoration: none;
	width: 62.5px;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;
}
.events:hover{
	background-color: #e7e2e2;
}
.discover
{
	text-decoration: none;
	width: 70px;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;
}
.discover:hover{
	background-color: #e7e2e2;
}

.rooms
{
	text-decoration: none;
	width: 100px;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;
}

.rooms:hover{
	background-color: #e7e2e2;
}

.help
{
	text-decoration: none;
	width: 75px;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;
}
.help:hover{
	background-color: #e7e2e2;
}

.subs
{
	text-decoration: none;
	width: 70px;
	border: solid black;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-right: 0.5%;
	padding-left: 0.5%;
	background-color: #FFFFFF;
	border-radius: 10px;
	color: black;

}
.subs:hover{
	background-color: #e7e2e2;
}
.error
{
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 1%;
	background-color:rgb(249, 227, 220)
}

.table-bordered{
	border-collapse: collapse;
}
td
{
	border: solid black;
	border-width: 0.005em;
	background-color: #FFFFFF;
}


th
{
	text-align: left;
	border: solid black;
	border-width: 0.1em;
	background-color: #FFFFFF;
}

.container
{
	text-align: center;
	margin-left: 32.5%;
	margin-right: 32.5%
}
.roomrequestscontainer
{
	text-align: center;
	margin: auto;
}
h3
{
	text-align: center;
	font-size: 3em;
}
p
{
	font-size: 1.2em;
	line-height: 130%;
}

.center
{
	text-align: center;
}

h4
{
	margin-top: 1px;
	margin-bottom: 12px;
	font-size: 2em;
}

.white
{
	background-color: #FFFFFF;
}
.nounderline{
	text-decoration: none;
}
.form-element {
    box-sizing: border-box;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.center{
	justify-content: center;
	align-content: center;
	align-items: center;
}
body
{
	font-family: georgia, sans-serif;
	background-color: rgb(249, 227, 220);
}

.Prez
{
display: flex;
justify-content: space-between;
border: solid black;
margin-top: 0%;
margin-right: 15%;
margin-left: 15%;
margin-bottom: 5%;
background-color: #FFFFFF;
}

	.prezeng
	{
	text-align: justify;
	border-right: solid black;
	padding: 3%;
	background-color: #FFFFFF;
	}

	.prezgal
	{
	text-align: justify;
	text-align: top;
	border-left: solid black;
	padding: 3%;
	background-color: #FFFFFF;
	}

.history
{
display: flex;
border: double black;
margin-right: 20%;
margin-left: 20%;
justify-content: right;
display: flex;
flex-direction: column;
justify-content: center;
background-color: #FFFFFF;
border-radius: 5px;
}

	.image
	{
	width: 100%;
	text-align: center;
	margin: auto;
	display: flex;
	background-color: #FFFFFF;
	}

	.historytext
	{
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	}

		.historyeng
		{
		text-align: justify;
		text-align: bottom;
		border-right: solid black;
		padding: 2%;
		background-color: #FFFFFF;
		}

		.historygal
		{
		text-align: justify;
		text-align: bottom;
		border-left: solid black;
		padding: 2%;
		background-color: #FFFFFF;
		}

.post
{
	text-align: justify;
	text-align: bottom;
	border: solid black;
	padding: 1%;
	background-color: #FFFFFF;
	margin-right: 14%;
	margin-left: 14%;
	margin-top: 2%;
	margin-bottom: 2%;
}

h2
{
	text-align: center;
	background-color: #FFFFFF;
	font-size: 2em;
	text-decoration: underline;
}

p
{
	background-color: #FFFFFF;
}
.topimage
{
	width: 20%;
	height: 20%;
	margin: auto;
	display: flex;
}
.table  
{ 
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.table-row
{ 
	display: table-row;  
}
.table-cell
{ 
	display: table-cell; 
}
input[type=text], input[type=password], input[type=email], select, textarea 
{
	width: 100%; 
	padding: 8px; 
	border: 1px solid #ccc; 
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px; 
	margin-bottom: 16px; 
	margin-left: 6px;
}
  
input[type=submit] 
{
	background-color: rgb(209, 198, 198);
	color: black;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 4px;
  }

input[type=submit]:hover
{
	background-color: rgb(193, 166, 166);
}
.bigcontainer 
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 30%;
	margin-right: 30%;
  }
.regcontainer 
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 36%;
	margin-right: 36%;
	margin-top: 4%;
  }
.logcontainer
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 39%;
	margin-right: 39%;
	margin-top: 8%;
}
.bigtext
{
	font-size: 2.9em;
	font-family: "Arial", "serif";
	color:black;
	background-color: rgb(249, 227, 220);
}
.link
{
	background-color: rgb(245, 239, 239);
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: solid black;
	border-width: 1px;
	color: black;
}
.link:hover
{
	background-color: #e7e2e2;
}

footer
{
	position: relative;
	width: 100%;
	bottom: 0;
	top: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 20px;
}
.footerbutton
{
	text-align: center;
	text-decoration: none;
	border: solid black;
	padding: 4px 4px;
	background-color: #FFFFFF;
	border-radius: 4px;
	border-width: 1px;
	color: black;
	margin-top: 8px;
	margin-bottom: 8px;
	display: inline-block;
	align-items: center;
}
.footerbutton:hover{
	background-color: #e7e2e2;
}