
.Page{
    width: 98%;
    margin-left: auto;
    margin-bottom: 2%;
    margin-right: auto;
    padding: 6px;
}

.top{
    display: flex;
    flex-direction: row;
}
.Identité{
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    width: 20%;
}
.Nom{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2px;
    width: 80%;
    display: inline;
}
.Sub-info{
    display: block;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.genre{
    display: inline;
    padding: 1px;
    width: 1.4em;
    height: 1.4em;
    vertical-align: middle;
}

.Account-buttons{
    display: flex;
    margin-right: 0;
    margin-left: auto;
}
.Modify-Account{
    box-sizing: border-box;
    color: #333;
    font-family: Inter;
    font-size: 0.7em;
    opacity: 1;
    background: #A697E8;
    border-radius: 25px;
    padding: 4px;
    width: 11em;
    height: 2.3em;
    display: inline;
    cursor: pointer;
}
.Delete-Account{
    box-sizing: border-box;
    color: #333;
    font-family: Inter;
    font-size: 0.7em;
    opacity: 1;
    background: #ED7474;
    border-radius: 25px;
    padding: 4px;
    width: 12em;
    height: 2.3em;
    margin-right: 3%;
    margin-left: 5%;
    cursor: pointer;
}

.Data-header{
    margin: auto;
    width: 30%;
    height: 7%;
    display: block;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 0.5%;
}
.Data-title{
    margin-bottom: 1%;
    margin-top: 0%;
    text-align: center;
    font-size: 2em;
}
.Duration-buttons{
    margin: auto;
    padding: 0;
    display: inline-block;
    height: 4%;
    width: 100%;
    box-sizing: border-box;
}
.Duration-button{
    margin-left: 0px;
    margin-right: -4px;
    padding: 3px 12px;
    font-size: 0.83em;
    display: inline;
    background: #e7e7ec;
    border: 1px solid #CEC3FB;
    box-sizing: border-box;
}
.Right-Button{
    border-right: 2px solid #CEC3FB;
}
.Left-Button{
    border-left: 2px solid #CEC3FB;
    background: #DFD9F9;
}
.Calendar{
    width: 16px;
    height: 16px;
    margin: auto;
    display: block;
}
.Calendar-image{
    width: 100%;
}

.stats{
    width: 17%;
    height: 17%;
    background: #f2f2f4;
    margin-top: 0px;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 4px;
}
.stats-title{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;
    margin-top: 0px;
}
.stats-content{
    display: grid;
    column-gap: 6px;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-items: center;
    align-items: start;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.stat-value{
    font-size: 2.6em;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 6px;
}
.stat-title{
    font-size: 1.2em;
    color: #9f9d9d;
    margin-bottom: 0px;
    margin-top: 0px;
}
.stat-img{
    width: 2.8em;
    height: 2.8em;
    vertical-align: middle;
    align-self: center;
    margin-bottom: 0px;
}

.Data{
    margin-top: 10px;
    display: grid;
    column-gap: min(15%, 40px);
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: center;
    justify-items: center;
    align-items: start;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
.Data-section{
    background: white;
    width: 100%;
    height: 100%;
    margin: 3%;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Section-title{
    margin-bottom: 1%;
    margin-top: 0%;
    font-weight: bold;
    text-align: start;
    font-size: 1.5em;
    display: inline;
}
.image-info{
    display: inline;
    width: 1.3em;
    height: 1.3em;
}