.title{
    margin : 0 auto;
    text-align : center;
    justify-content: center;
    max-width: 80%;
    font-size: 150%;
}

h1{
    color : #000000;
}

.image_text{
    display: flex;
    align-self: center;
    right:0;
    left:0;
}

.image_titre{
    display : flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 4%;
}

.section_1{
    width : 45%;
    margin: auto;
    font-size : 125%;
}

.image-decouvrir{
    max-width : 100%;
    transform : rotateY(-180deg)
}

.image{
    width : 75%;
    height : 75%;
    margin : auto;
}

.section_2 {
    width : 45%;
    margin : auto;
    font-size : 125%;
}

.text{
    margin: auto;
    justify-content: center;
    text-align : justify;
}

p{
    color : #000000;
    font-size: 105%;
    width : 78%;
    margin: auto;
    justify-content: center;
    text-align : justify;
}


table {
    width : 50%;
    margin-left : 7%;
}

table td{
    width : 1%;
}

.icon_electro{
    max-width : 200%;
}

.section_3 p{
    text-align: center;
    padding-top: 2%;
    font-size: 220%;
}

.footer{
    padding-top: 2%;
}

.footer{
    padding : 1%;
    padding-top: 2%;
    background: linear-gradient(200deg, black,grey);
    margin-top: 3%;

}

.help{
    display: flex;
    padding-bottom: 1%;
    font-size: 150%;
    justify-content: center;
}

.a1{
    margin-right : 8%;
}

.a2{
    margin-right : 8%;
}

.a3{
    margin-right : 8%;
}

a{ 
    text-decoration : none ;
    color: #A697E8;
}