.footer{
    padding : 10px;
    padding-top: 20px;
    background: linear-gradient(200deg, black,grey);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
.pushed{
    position: absolute;
    bottom: 0;
}

.help{
    display: flex;
    padding-bottom: 10px;
    font-size: 20px;
    justify-content: center;
}

.a1{
    margin-right : 8%;
}

.a2{
    margin-right : 8%;
}

.a3{
    margin-right : 8%;
}

.footer-link{ 
    text-decoration : none ;
    color: #A697E8;
}