@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&family=Roboto:wght@300&display=swap');
.error{
text-align: center;
font-size: 1.1em;
}
body{
  background: #E8E8EA;
}
i.ico {
    display: inline-block;
    width: 20px;
    text-align: center; 
    font-style: normal;
    font-weight: bold;
}
.bar {
    padding: 10px;
    color: #333;
    background: #fafafa;
    border: 1px solid #ccc;
    font-size: 1em;
    max-width: 370px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    align-content: center;
  }
  
  .info {
    color: #204a8e;
    background: #c9ddff;
    border: 1px solid #4c699b;
  }
  .success {
    color: #2b7515;
    background: #ecffd6;
    border: 1px solid #617c42;
  }
  .warn {
    color: #756e15;
    background: #fffbd1;
    border: 1px solid #87803e;
  }
  .error {
    color: #ba3939;
    background: #ffe0e0;
    border: 1px solid #a33a3a;
  }
.link{
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    margin-top: 15px;
    margin-bottom: 0%;
}
.big-margin{
  margin-bottom: 5%;
  margin-top: 5%;
}
.bouton-important{
  box-sizing: border-box;
  color: #333;
  font-family: Inter;
  font-size: 1em;
  opacity: 1;
  background: #A697E8;
  border-radius: 25px;
  padding: 6px 16px;
  width: auto;
  height: 2.6em;
  font-weight: bold;
  display: inline;
  cursor: pointer;
}
.bouton-important:hover{
  filter: saturate(200%);
}

.text{
  line-height: 1.6;
  font-size: 15px;
  font-family: Roboto, 'Open Sans';
}
.display{
  font-family: 'Noto Sans Display', 'Open Sans';
  font-size: 32px;  
}
.message{
  font-size: 18px;
}
*{
  font-family: Roboto, 'Open Sans';
}