#photo-image{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: 2%;
}
.Image
{
        margin: 5%;
        margin-right: 5%;
        height: 500px;
        width: 500px;
}

.Nous
{
    margin-left: 5%;
    text-align: justify;
    font-size: 24px;   
    width: max(45%, 200px);
    height: 300px;
    justify-content: center;
}

img
{
    max-height: 100%;
    max-width: 100%;
}
#contact-container{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}
.Nous2
{
    margin: 5%;
    margin-top: 2%;
    margin-right: 5%;
    font-size: 24px;
    text-align: justify;
    width: 600px;
}

.Contact
{
    width: max(15, 200px);
    margin-right: 0;
    margin-left: auto;
    text-align: justify;
} 






https://github.com/julientournier6/Better-Labor/blob/main/images/linkedin.png?raw=true