body{
    background: #E8E8EA;
}

.container{
    width: 460px;
    height: 620px;
    background-color: #ffffff;
    margin: 0px auto;
    margin-top: 100px;
}


.logo{
    text-align: center;    
}

.title{
    margin-top: 15px;
    margin-left: 55px;
}

.container input{
    align-items: center;
    text-align: left;
    outline: none;
    width: 350px;
    height: 3rem;
    margin-top: 35px;
    margin-left: 55px;
    border: none;
    background-color: #E8E8EA;
}

.container button{
    margin-top: 35px;
    margin-left: 90px;
    width: 290px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #A697E8;
}