.conteneur
{
    width: 90%;
    margin-left: 0%;
}
@media (max-width: 870px){
    .conteneur{
        width: 100%;
        overflow: visible;
    }
}
.conteneur-tableau{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: visible!important;
}

  
table
{
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-bottom: 1%;
    align-self: center;
    width: 100%;
}
@media (max-width: 870px){
    table{
    font-size: 0.5rem;
}
}
td, th 
{
    border: 1px solid rgb(190,190,190);
    padding: 1px 16px;
    height: 5em;
    white-space: nowrap;
}
@media (max-width: 870px){
    td, th 
{
    border: 1px solid rgb(190,190,190);
    padding: 1px 8px;
    height: 5em;
    white-space: nowrap;
}
}
  
  th 
{
    background-color: rgb(232, 231, 231);
}

  
  td 
{
    text-align: center;
}

.tailleCercle
{
    width: 3em;
    height: 3em;
}
  
.nombreEmploye
{
    margin-right: 0px;
    margin-left: auto;
    width: 20%;
    display: block;
    /* position: relative; */
    text-align: right;
    margin-top: 0%;
}

.boutons_employes
{
    display: flex;
    margin-right: 0px;
    margin-left: auto;
    width: 60%;
    margin-bottom: 20px;
    flex-direction: row-reverse;
}


.AjoutEmployés
{
    margin-right: 0px;
}

.AjoutSlot2
{
    margin-right: 3%;
}
.row{
    cursor: pointer;
    background: rgb(244, 244, 244);
}
.row:hover{
    background: rgb(233, 233, 233);
}
.row-chef{
    cursor: pointer;
    background: rgb(244, 244, 244);
}
.row-chef:hover{
    background: rgb(233, 233, 233);
}
