.log-container{
    width: max(30%, 500px);
    background-color: #ffffff;
    margin: 0px auto;
    margin-top: 15px;
    height: auto;
}

.logo{
    text-align: center;
    width: 100%;
    height: auto;    
}
.better{
    width: 100%;
}

.title{
    margin-top: 15px;
    text-align: center;
}

/* .inputs{
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
} */
form{
    width: 100%;
    text-align: center;
}
input{
    outline: none;
    text-align: left;
    height: 3rem;
    border: none;
    background-color: #E8E8EA;
    width: 70%;
    margin: 0px auto;
    margin-top: 35px;
}
.log-container button{
    margin: 0px auto;
    margin-top: 45px;
    margin-bottom: 10px;
    width: 55%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: #A697E8;
    cursor: pointer;
}
  


