*{
    margin: 0;
    padding: 0;
   

}

body{
    background-color: #E8E8EA;
}

.container{
    height: 100px;
    background: linear-gradient(200deg, black,grey);
    display: flex;
}



nav ul li a{
    display: block;
    color:#A697E8;
    text-decoration: none;
    display:block;
    padding: 33.25px 45px;
    color: #A697E8;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

nav ul li{
    list-style: none;
    display: inline-block; 
    cursor: pointer;
    position: relative;
    transition: .5s;
}

nav ul li a:before{
    content:'';
    position:absolute;
    bottom:6px;
    left:15px;
    width: 12px;
    height:12px;
    border: 3px solid #E8E8EA;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

nav ul li a:hover{
color:#E8E8EA;
background: #A697E8;
}

nav ul li a:hover:before
{
    bottom: 15px;
    left: 20px;
    opacity: 1;
}


nav ul li a:after{
    content: '';
    position: absolute;
    top:12px;
    right:15px;
    width: 12px;
    height:12px;
    border: 3px solid #E8E8EA;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
    
}

nav ul li a:hover:after 
{
    top: 20px;
    right: 20px;
    opacity: 1;
}










.tableau
{
    width: 60%;
    margin : auto;
    margin: 5%;
    
}


html  
{
    font-family: sans-serif;
}

 
  
table 
{
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

  td, th 
{
    border: 1px solid rgb(190,190,190);
    padding: 1px 100px;
    height: 5em;
    white-space: nowrap;
}
  
  th 
{
    background-color: rgb(235,235,235);
}

  
  td 
{
    text-align: center;
}

.tailleCercle
{
    width: 3em;
    height: 3em;
}
  
.nombreEmploye
{
    margin-left: 85.7%;
}

.bouttons_employes
{
    display: flex;
    margin-right: 0;
    margin-left: auto;
}


.AjoutEmployés
{
    box-sizing: border-box;
    color: #333;
    font-family: Inter;
    font-size: 1em;
    opacity: 1;
    background: #A697E8;
    border-radius: 25px;
    padding: 4px;
    width: 10em;
    height: 3em;
    display: inline;
    cursor: pointer;
    position: absolute;
    left: 50%;

}

.AjoutSlot2
{
    box-sizing: border-box;
    color: #333;
    font-family: Inter;
    font-size: 1em;
    opacity: 1;
    background: #A697E8;
    border-radius: 25px;
    padding: 4px;
    width: 10em;
    height: 3em;
    display: inline;
    cursor: pointer;
   position : absolute;
   left: 83%;


}