.espace-admin{
    width: 85%;
    margin-left: 8%;
    margin-top: 2%;
}
.espace-admin-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 3px;
    display: block;
}
.espace-admin-secondary-title{
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 8px;
    display: block;
}
.espace-admin-subtitle{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    display: block;
    padding: 0px;
}
.recherche-text{
    width: 250px;
}
.recherche-form{
    margin-bottom: 14px;
    display: flex;
    font-size: 13px;
    align-items: center;
}
.recherche-form input{
    padding: 3px;
}
.recherche-element{
    height: 20px;
    margin: 4px;
}
.recherche-submit{
    cursor: pointer;
}
.recherche-select{
    height: 30px;
    width: 100px;
}
.recherche-select select{
    width: 100%;
    height: 100%;
}
.recherche-age{
    width: 180px;
    margin: 4px;
    height: 16px;
    font-size: 10px;
}
.age-texte{
    margin: 4px;
    margin-left: 26px;
    margin-right: 20px;
}
.noUi-connect {
    background: #A697E8!important;
    }